<%- include('partials/header', { title: 'My Articles', user: user }) %>

<main>
    <h1>My Articles</h1>
    <p>Here are all the articles you've published.</p>

    <ul class="my-articles-list">
        <% if(blogs.length > 0) { %>
            <% blogs.forEach(blog => { %>
                <li>
                    <span><%= blog.title %></span>
                    <div>
                        <a href="/blogs/<%= blog._id %>">Read</a>
                        <!-- We will add Edit/Delete links here in a future step -->
                    </div>
                </li>
            <% }); %>
        <% } else { %>
            <p>You haven't written any articles yet.</p>
        <% } %>
    </ul>
</main>

<%- include('partials/footer') %>